<%- include("partials/header") -%> 
<link rel="stylesheet" href="/css/styles.css" />
</head>
<body>

<h1>yo all hotels</h1>
<a href="/logout">logout</a>
<a href="/addHotel">addHotel</a>
<h2>hotel list </h2>
<div class="row">
<% for(a of allHotel){ %>
    
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Hotel <%= a.name %></h3>
            <h3><%= a.location %></h3>
          </div>
          <div class="card-body">
            <p>
              A few hours a week with the animals means the world to them, not
              to mention , the memories that will stay with you for a
              lifetime.
            </p>
            <div class="d-grid gap-2">
                <a href="/hotel/<%=a._id%>" class="btn btn-lg btn-dark" type="button">
                    hotel <%= a.name %> details
                </a>
            </div>
          </div>
        </div>
      </div>
<% } %>
</div>

<%- include("partials/footer") -%> 