<h1>1 hotel</h1>

<a href="/logout">logout</a>

<h3><%= aa.name %></h3>
<h3><%= aa.location %></h3>
<h3><%= aa.price %></h3>

<form action="/hotel/<%=aa._id%>?_method=DELETE" method="POST" >
    <button>delete</button>
</form>

<a href="/addHotel/<%=aa._id%> ">EDit</a>

<h1>Room</h1>
<% for(a of aa.room) { %>
    <div>
    <h4>a = <%=a%></h4>
    <form action="/room/<%=aa._id%>/<%=a._id%>?_method=DELETE" method="POST" >
    <button>delete</button>
    </form>
    <form action="/userroom/<%=aa._id%>/<%=a._id%>" method="POST" >
        <button>buy</button>
    </form>
    </div>
<%}%>

<form action="/addRoom/<%=aa._id%>" method="POST" >
    <div>
        <label for="roomName">roomName</label>
        <input type="text" name="roomName" id="roomName">
    </div>
    <div>
        <label for="roomSize">roomSize</label>
        <input type="number" name="roomSize" id="roomSize">
    </div>
    <div>
        <label for="roomPrice">roomPrice</label>
        <input type="number" name="roomPrice" id="roomPrice">
    </div>
    <button>add</button>
</form>

<h1>Comments</h1>

<% for(a of aa.comment) { %>
    <div>
    <h4>a = <%=a%></h4>
    <form action="/comment/<%=aa._id%>/<%=a._id%>?_method=DELETE" method="POST" >
        <button>delete</button>
    </form>
    </div>
<%}%>


<form action="/addComment/<%=aa._id%>" method="POST" >
    <div>
    <label name="author" >author</label>
    <input type="text" name="author" id="author">
    </div>
    <div>
        <label name="body" >body</label>
        <input type="text" name="body" id="body">
    </div>
    <div>
        <label name="stars" >stars</label>
        <input type="number" name="stars" id="stars">
    </div>
    <button>Add Comment</button>
</form>
